[Unit]
Description=AbstractumVPN Service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
ExecStart=/opt/AbstractumVPN/bin/AbstractumVPN-service

[Install]
WantedBy=multi-user.target
