#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Name=AbstractumVPN
Version=1.0
Comment=Client of your self-hosted VPN
Exec=AbstractumVPN
Icon=/usr/share/pixmaps/AbstractumVPN.png
Categories=Network;Qt;Security;
Terminal=false
